<div class="container">
  <h1>Secret Dinosaur Fighter!</h1>
  <div class="console">
    <div class="player one">
      <div class="infobar"><span class="name"></span> (<span class="hp"></span>)</div>
      <div class="p1health">
        <div class="bar">
          <div class="meter-full"></div>
        </div>
      </div>
      <div><img src="/assets/sprites/fighter/unknown.gif" class="p1sprite" width="84" height="96"></div>
      <div class="number">Player 1</div>
      <div class="controls p1">
        <div class="dpad">
          <button class="btn upback block">&nbsp;</button>
          <button class="btn up block"><img src="/assets/sprites/fighter/d-up.gif"></button>
          <button class="btn upforward block">&nbsp;</button>
          <button class="btn block"><img src="/assets/sprites/fighter/d-left.gif"></button>
          <button class="btn command block">o</button>
          <button class="btn forward block"><img src="/assets/sprites/fighter/d-right.gif"></button>
          <button class="btn downback block">&nbsp;</button>
          <button class="btn down block"><img src="/assets/sprites/fighter/d-down.gif"></button>
          <button class="btn downforward block">&nbsp;</button>
        </div>
        <div class="buttons">
          <button class="a btn btn-success">a</button>
          <button class="b btn btn-warning">b</button>
          <button class="c btn btn-danger">c</button>
        </div>
      </div>
      <div class="action p1"></div>
    </div>
    <div class="player two">
      <div class="infobar"><span class="name"></span> (<span class="hp"></span>)</div>
      <div class="p2health">
        <div class="bar">
          <div class="meter-full p2"></div>
        </div>
      </div>
      <div><img src="/assets/sprites/fighter/unknown.gif" class="p2sprite" width="84" height="96"></div>
      <div class="number">Player 2</div>
      <div class="controls p2">
        <div class="dpad">
          <button class="btn upforward block">&nbsp;</button>
          <button class="btn up block"><img src="/assets/sprites/fighter/d-up.gif"></button>
          <button class="btn backforward block">&nbsp;</button>
          <button class="btn block"><img src="/assets/sprites/fighter/d-left.gif"></button>
          <button class="btn command block">o</button>
          <button class="btn block"><img src="/assets/sprites/fighter/d-right.gif"></button>
          <button class="btn downforward block">&nbsp;</button>
          <button class="btn down block"><img src="/assets/sprites/fighter/d-down.gif"></button>
          <button class="btn downback block">&nbsp;</button>
        </div>
        <div class="buttons">
          <button class="a btn btn-success">a</button>
          <button class="b btn btn-warning">b</button>
          <button class="c btn btn-danger">c</button>
        </div>
      </div>
      <div class="action p2"></div>
    </div>
    <div id="start">
      <button id="play" class="btn btn-large btn-info">Play</button>
    </div>
  </div>
</div>
