<div class="jumbotron masthead">
  <div class="container">
    <h1>Secret Dinosaur Handshake</h1>
  </div>
  <div id="earth"></div>
  <div id="megaman"></div>
</div>

<div class="subtitle">
  <div class="container">
    <a href="#myModal" role="button" class="btn" data-toggle="modal">Modal</a>
  </div>
</div>

<div id="myModal" class="modal hide" role="dialog">
  <div class="modal-header">
    <h3 id="myModalLabel">Modal header</h3>
  </div>
</div>
