<div class="jumbotron masthead">
  <div class="container">
    <h1>Secret Dinosaur Handshake</h1>
  </div>
  <div id="earth"></div>
  <div id="megaman"></div>
</div>

<div class="subtitle">
  <div class="container"></div>
</div>
