// Place all the styles related to the fighter controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

.player {
  position: relative;
  float: left;
  width: 50%;

  > .p1health {
    height: 25px;
    padding: 0 50px 10px 0;
  }

  > .p2health {
    height: 25px;
    padding: 0 0 10px 50px;
  }


  > .number {
    height: 15px;
    font-size: 10px;
    line-height: 15px;
    color: #aaa;
  }

  > .sprite {
    width: 84px;
    height: 96px;
  }

  div > .name {
    font-size: 20px;
    font-weight: bold;
    height: 22px;
    line-height: 22px;
    padding: 0;
    margin: 0;
  }
}

.one {
  text-align: left;

  .dpad {
    float: left;
    width: 140px;
    line-height: 35px;

    button {
      width: 38px;
    }
  }

  .buttons {
    width: 200px;
    float: left;
    padding: 38px 0;
  }
}

.two {
  text-align: right;

  .dpad {
    width: 140px;
    float: right;
    line-height: 35px;

    button {
      width: 38px;
    }
  }

  .buttons {
    width: 200px;
    float: right;
    padding: 38px 0;
  }
}

#start {
  clear: both;
  text-align: center;
}

.action {
  clear: both;
  height: 18px;
  font-size: 12px;
}

.bar {
  height: 20px;
  border: solid 2px #222;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;

  .meter-full {
    width: 100%;
    height: 100%;
    background: #ffff00;
  }

  #p1meter {
    width: 100%;
    height: 100%;
    background: #ffff00;
  }

  #p2meter {
    float: right;
    width: 100%;
    height: 100%;
    //background: #ffff00;
  }
  
  .meter-99 {
    background: #ffcc00;
  }

  .meter-80 {
    background: #ff9900;
  }

  .meter-50 {
    background: #ff6600;
  }

  .meter-20 {
    background: #cc0000;
  }

  .p2 {
    float: right;
  }
}


